CI_ENVIRONMENT = production

app.baseURL = 'https://your-domain.example/'
app.indexPage = ''

database.default.hostname = your_mysql_host
database.default.database = your_mysql_database
database.default.username = your_mysql_username
database.default.password = your_mysql_password
database.default.DBDriver = MySQLi
database.default.DBPrefix =
database.default.port = 3306
